.c-breadcrumbs
  margin-bottom 2em

  li
    pos-rel()
    list-style none
    display inline-block
    margin 0 10px

    &.is-active
      a
        color darken($col-primary-accent, 20%)

    &:last-child
      &:after
        content none

    &:after
      fa()
      pos-abs()
      px2em(font-size, 9)
      content '\f054'
      display inline-block
      margin-left 5px
      top 5px

