.c-breadcrumbs
  li
    pos-rel()
    list-style none
    &:after
      font-family  'FontAwesome'
      pos-abs()
      px2em(font-size, 9)
      content '\f061'
      display inline-block
      margin-left 5px
      top 5px

