.c-code
  color $col-silver
  background-color rgb(252, 252, 252)
  font-family Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
  font-size 14px
  border-radius 2px
  -moz-border-radius 2px
  -webkit-border-radius 2px
  padding 10px
  box-shadow 0 0 10px rgb(0 0 0 / 10%)
  overflow auto