.c-sidebar
  width 25%
  pos-rel()
  +bp(max, $xlg-min)
    width 100%

  &.is-active
    .c-sidebar__main
      position fixed

  &__wrap
    pos-abs()

  &__main
    pos-rel()
    top 30px
    left 30px
    height 25vh

    > h2
      margin-bottom .8em

  &__list
    background white
    > ul
      border solid 1px $col-lgt-grey
      padding 1em
      > li:first-child
        border-top none
    li
      list-style none
      padding .5em 0
      border-top solid 1px $col-lgt-grey
      &.has-children
        p4()

      &.c-header
        &__level
          &--2
            a
              font-weight bold
          &--3
            a
              padding-left .8em
              font-weight normal

    ul
      li > ul
        a
          p5()
          color $col-dk-grey
          padding-left .4em
          &:before
            fa()
            content '-'
            display inline-block
            margin-right .5em

      &.c-header
        &__level
          &--1
            li
              padding-bottom .2em

      &.has-parent
        margin-top .5em





