mixin head(seo)
    head
        title=_t('SenNet Docs', _m)
        script(src='/js/jquery-3.6.2.min.js')
        script(src='/js/main.js')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/main.css')
        if seo
            | {% seo %}