.c-sidebar.js-app--sidebar(role='navigation' aria-label='Table of Contents')
    .c-sidebar__wrap.js-sidebar__wrap
        .c-sidebar__main.js-sidebar__main
            h2=_t('Table of Contents', _m)
            .c-sidebar__list.js-sidebar__list