footer.c-footer.js-app--footer
    .c-footer__meta
        include ../filemeta
    .c-footer__main
        .c-footer__wrap
            | &copy;&nbsp;
            span.c-footer__date.js-footer__date
            | &nbsp;
            span.c-footer__name=_m['UBKG Docs']
