header.c-header(role='navigation')
    .c-header__main
        .c-header__menu
            ul
                each item in _t.menu
                    li
                        a(href=item.href)=item.name