head
    title=_t['SenNet Docs']
    script(src='/js/jquery-3.6.2.min.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')
    | {% seo %}