header.c-header(role='navigation')
    .c-header__main
        .c-header__menu
            ul
                li.c-header__logo
                    img(src='/logo192.png' alt=_m['SenNet Docs'])
                each item in _m.menu
                    li
                        a(href=item.href)=item.name