/* Breakpoints */
$xxxxlg-min = 1920px
$xxxlg-min = 1700px
$xxlg-min = 1500px
$xlg-min = 1200px
$lg-min = 1025px 
$md-max = 1024px
$md-min = 768px
$sm-max = 767px
$xsm-max = 375px

$bp-xxxlg = "(min-width:$xxlg-min)"
$bp-xxlg = "(min-width:$xxlg-min)"
$bp-xlg = "(min-width:$xlg-min)"
$bp-lg = "(min-width:$lg-min)"
$bp-md = "(min-width:$md-min) and (max-width:$md-max)"
$bp-md-max = "(max-width:$md-max)"
$bp-md-min = "(min-width:$md-min)"
$bp-sm = "(max-width:$sm-max)"
$bp-xsm = "(max-width:$xsm-max)"

$font-family = Inter Variable, Helvetica, Arial, sans-serif

$mgn = 1em