h1()
  px2em(font-size, 34)
  lh-ratio(34, 44)

.h1
  h1()

h2()
  px2em(font-size, 26)
  lh-ratio(26, 42)

.h2
  h2()

h3()
  px2em(font-size, 24)
  lh-ratio(24, 40)

.h3
  h3()

h4()
  px2em(font-size, 22)
  lh-ratio(22, 38)

.h4
  h4()