/* P1 - Introduction */
p1()
  px2em(font-size, 24)
  lh-ratio(24, 34)
  
/* P2 – Featured Body Copy Large */
p2()
  px2em(font-size, 21)
  lh-ratio(21, 31)
  
/* P3 – Featured Body Copy Medium */
p3() 
  px2em(font-size, 18)
  lh-ratio(18, 28) 
  
/* P5 – Featured Body Copy Small */
p4() 
  px2em(font-size, 16) 
  lh-ratio(16, 26) 

/* P5 – Regular Body Copy */
p5() 
  px2em(font-size, 14) 
  lh-ratio(14, 24) 
  
/* P6 – Detailed, Legal Content */
p6() 
  px2em(font-size, 12)
  lh-ratio(12, 22)

.p1
  p1()
  
.p2
  p2()
  
.p3 
  p3()
  
.p4 
  p4() 
  
.p5 
  p5() 
  
.p6 
  p6()