.clear
  clear both
*
  margin 0
  padding 0
  box-sizing border-box

html 
  font-size 16px
  line-height 22px
  
html, body
  height 100%

body
  p4()
  pos-rel()
  $col-xlgt-grey
  line-height 1.5
  text-size-adjust none
  font-family $font-family

li  
  list-style-position inside

a, a:visited
  color $col-primary-blue
  text-decoration none

a:hover
  text-decoration underline

.hide 
  hide()

details
  margin-top $mgn