$col-slate = #656565
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-grey = #807e7e
$col-alto = #ddd
$col-silver = #ccc
$col-chalice = #aaa
$col-chateau = #a5abb6
$col-chateau-2 = #9aa1ac
$col-malibu = #6ac6ff
$col-selago = #fafbfe
$col-lime = lime

$color-names = "slate"

colors()
  return $col-slate