table
  bx-shadow()
  border-collapse collapse
  background white

  tr
    border 1px solid $col-alto
  td
    padding .75rem
    border solid 1px $col-alto
  th
    padding 1em .4em
    background $col-primary-accent